@using CWSUmbracoStandardMembership.Controllers.SurfaceControllers
@using CWSUmbracoStandardMembership.Models

<h3>Delete profile</h3>
<p>The deletion of your profile and data is described in our <a href="#">terms of service</a>.</p>
<p>Should you wish to delete your profile, press the button below.</p>
@Html.ActionLink("Delete Profile", "HandleDeleteProfile", "MemberEdit", null, new { @class = "btn btn-danger" })